@charset "UTF-8";
html {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

nav {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-end;
    font-size: 1em;
  }
}
nav .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}
nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
nav .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav #menu-toggle {
  display: none;
}
nav .menu-button,
nav .menu-button::before,
nav .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
nav .menu-button::before {
  content: "";
  margin-top: -8px;
}
nav .menu-button::after {
  content: "";
  margin-top: 8px;
}
nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 700px) {
  nav .menu-button-container {
    display: flex;
  }
  nav .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  nav #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  nav #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  nav .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  nav .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

li {
  list-style-type: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  li {
    display: inline-block;
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
}

.bg {
  background-image: url(/assets/negative-space-black-forest-dawn.jpg);
  height: 100vh;
  background-size: 210%;
  background-repeat: no-repeat;
  background-position: top;
}
@media screen and (min-width: 768px) {
  .bg {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
@media screen and (min-width: 768px) {
  .container {
    height: 90vh;
  }
}

.home {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

.aboutus__rakib, .aboutus__alexandra, .aboutus__lasse, .aboutus__sebastian {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus__text {
  background-color: lightgrey;
  margin: 5%;
  width: 65%;
  border-radius: 8px;
  font-size: 0.9em;
}
.aboutus__text blockquote {
  padding: 5%;
  position: relative;
}
.aboutus__text blockquote:before {
  content: "”";
  font-size: 6em;
  position: absolute;
  font-weight: bold;
  top: -20%;
  left: -9%;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutus img {
  width: 50%;
  border-radius: 50%;
  filter: drop-shadow(5px 10px 10px rgba(68, 68, 68, 0.8666666667));
}
@media screen and (min-width: 768px) {
  .aboutus.firstsection, .aboutus.secondsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .aboutus img {
    width: 250px;
  }
  .aboutus__text {
    width: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
