@use "variables" as var;

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin nav-bar {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255, 0.2);
    font-size: 20px;
}

@mixin list {
    list-style-type: none;
    text-align: center;
}

@mixin list-links {
    text-decoration: none;
    color: var.$primary-color;
}

@mixin container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

@mixin about-us {
    h2 {
        text-align: center;
    }

    &__rakib, &__alexandra, &__lasse, &__sebastian {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        background-color: var.$aboutus-color;
        margin: 5%;
        width: 65%;
        border-radius: 8px;
        font-size: 0.9em;

        blockquote {
           padding: 5%;
           position: relative;
        }

        blockquote:before {
            content: "\201d";
            font-size: 6em;
            position: absolute;
            font-weight: bold;
            top: -20%;
            left: -9%;
            font-family: Arial, Helvetica, sans-serif;
            
        }
    }

    img {
        width: 50%;
        border-radius: 50%;
        filter: drop-shadow(5px 10px 10px #444d);
    }
}

  

