@use "mixins";
@use "variables" as var;

html {
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    @include mixins.nav-bar;

    @include mixins.tablet {
        justify-content: flex-end;
        font-size: 1em;
    }

    @include mixins.hamburger;
}
li {
    @include mixins.list;

    @include mixins.tablet {
        display: inline-block;
        padding: 10px;
    }
}

a {
    @include mixins.list-links;
}

h1 {
    margin: 0;
}

.bg {
    background-image: url(/assets/negative-space-black-forest-dawn.jpg);
    height: 100vh;
    background-size: 210%;
    background-repeat: no-repeat;
    background-position: top;

    @include mixins.tablet {
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: center;
    }
}

.container {
   @include mixins.container-text;

   @include mixins.tablet {
    height: 90vh;
    
   }
}

.home {
    color: var.$primary-color;
    text-align: center;
}
h2 {
    text-align: center;
}

.aboutus {
    @include mixins.about-us;

    @include mixins.tablet {
        &.firstsection, &.secondsection {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        img {
            width: 250px;
        }

        &__text {
            width: 400px;
        }
}
} 
    

